[Unit]
Description=Cheat Chat Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /app/ccd/main.py
WorkingDirectory=/app
Restart=always

[Install]
WantedBy=multi-user.target